@keyframes subject-text {
  0% {
    transform: translateX(90%); }
  100% {
    transform: translateX(-90%); } }

@keyframes btn-shrink {
  0% {
    left: -100px; }
  100% {
    left: 300px; } }

/*$breakpoint augument chooise
    -phone
    -tab-port
    -tab-landscape
    -big-desktop
*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  letter-spacing: .9rem;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.u-color-red {
  color: #f00; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-mid {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-border-bottom {
  border-bottom: 6px solid #fff; }

.u-text-indent-big {
  text-indent: 6rem; }

.heading-primary {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.8; }
  @media screen and (max-width: 600px) {
    .heading-primary {
      font-size: 3rem;
      line-height: 1.5; } }

.heading-secondary {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff; }

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff; }
  @media screen and (max-width: 1600px) {
    .heading-tertiary {
      font-size: 2.7rem;
      line-height: 1.2; } }
  @media screen and (max-width: 900px) {
    .heading-tertiary {
      font-size: 2.4rem; } }
  @media screen and (max-width: 900px) {
    .heading-tertiary {
      font-size: 1.8rem; } }

.heading-forth {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: .3rem;
  line-height: 1.5;
  color: #fff; }

.paragraph {
  font-size: 2.1rem;
  color: #fff;
  letter-spacing: .1rem;
  line-height: 1.5; }

.subject {
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 7.2rem;
  background-color: #eee;
  overflow: hidden; }
  .subject__text {
    letter-spacing: .6rem;
    text-align: center;
    color: #f00;
    animation: subject-text 20s linear infinite;
    white-space: nowrap; }

.btn {
  position: relative; }
  .btn:link, .btn:visited {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #22bbaa;
    padding: 2.1rem 3rem;
    margin-top: 2.1rem;
    border-radius: 10px;
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: all .3s; }
  .btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 30px;
    height: 100%;
    transform: skewX(30deg);
    background-color: #fff; }
  .btn:hover {
    color: #fff;
    transform: translateY(-5px); }
  .btn:active {
    transform: translateY(-3px); }
  .btn:hover::after {
    animation: btn-shrink .5s ease-in-out forwards; }
  .btn--primary:hover {
    background-color: #22bbaa; }
  @media screen and (hover: none) {
    .btn:link, .btn:visited {
      color: #fff;
      background-color: #22bbaa; } }

.question {
  margin-left: 6rem; }
  .question__answer {
    color: #fff; }

.author {
  background-color: #229966;
  padding: 3rem 0; }
  .author__paragraph {
    font-size: 1.2rem;
    letter-spacing: 0;
    color: #fff; }

.header {
  position: relative;
  width: 100%;
  height: 100vh; }
  .header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/header-bg-3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    z-index: -1; }
  .header-wrap {
    width: 75%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__title {
    width: 100%;
    text-align: center; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  .navigation__logo-box {
    width: 100%;
    padding: 2.1rem 0;
    background-color: #333; }
  .navigation__logo {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #fff; }

.content {
  position: relative;
  width: 75%;
  margin: 0 auto; }
  .content::after {
    content: '';
    clear: both;
    display: table; }
  .content-text-left, .content-text-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 49%; }
  .content-text-left {
    float: left; }
  .content-text-right {
    float: right; }
  .content-img {
    float: right;
    width: 49%; }
  @media screen and (max-width: 600px) {
    .content-text-left, .content-text-right, .content-img {
      position: initial;
      width: 100%;
      transform: translateY(0);
      float: none; } }
  .content__poster {
    width: 100%;
    height: 100%; }

.footer {
  background-color: #22bbaa;
  padding: 6rem 6rem; }
  .footer::after {
    content: '';
    clear: both;
    display: table; }
  .footer__left {
    float: left; }
  .footer__right {
    float: right;
    text-align: right; }
  @media screen and (max-width: 1200px) {
    .footer__left, .footer__right {
      float: none;
      text-align: center; } }

.section-when, .section-about {
  background-color: #333;
  padding: 9rem 0 3rem; }
