@mixin align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}


/*$breakpoint augument chooise
    -phone
    -tab-port
    -tab-landscape
    -big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: 600px) {@content};
    }
    @if $breakpoint == tab-port {
        @media screen and (max-width: 900px) {@content};  
    }
    @if $breakpoint == tab-landscape {
        @media screen and (max-width: 1400px) {@content};  
    }
    @if $breakpoint == big-desktop {
        @media screen and (min-width: 1800px) {@content};
    }
}

