$color-white: #fff;
$color-black: #000;
$color-red: #f00;


$color-grey: #aaa;
$color-grey-dark: #333;
$color-grey-light: #eee;


$color-primary: #22bbaa;
$color-primary-light: #22ddaa;
$color-primary-dark: #229966;