.btn {
    position: relative;
    &:link,
    &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        color: $color-primary;
        
        padding: 2.1rem 3rem;
        margin-top: 2.7rem;
        border-radius: 10px;
        box-shadow: 0 0 0 3px $color-primary-light;
        background: $color-grey-dark;
        overflow: hidden;
        box-sizing: border-box;
        
        transition: all .6s;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100px;
        width: 30px;
        height: 100%;
        transform: skewX(30deg) ;
        background-color: $color-white;
        
    }
    
    &:hover {
        color: $color-white;
        border: none;
        box-shadow: 3px 10px 10px 0px rgba($color-primary-dark,.8);
        transform: translateY(-5px);
    }
    &:active {
        transform: translateY(-3px);
    }
    &:hover::after {
        animation: btn-shrink .5s ease-in-out forwards;
    }


    &--primary:hover {
        background-color: $color-primary;
    }

    @media screen and (hover:none),
           screen and (max-width: 600px){
        &:link,
        &:visited {
            color: $color-white;
            box-shadow: 3px 10px 10px 0px rgba($color-primary-dark,.8);
            background-color: $color-primary;
        }
    }
}