.heading-primary {
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.8;

    @include respond(phone) {
        font-size: 3rem;
        line-height: 1.5;
    }
}
.heading-secondary {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.5;
    color: $color-white;
}
.heading-tertiary {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    color:$color-white;
    @include respond(big-desktop) {
        font-size: 3.6rem;
    }
    @include respond(tab-landscape) {
        font-size: 2.4rem;
        line-height: 1.2;
    }
    // @include respond(tab-port) {
    //     font-size: 2.4rem;
    // }
    @include respond(tab-port) {
        font-size: 1.8rem;
    }
}
.heading-forth {
    font-size:2.4rem;
    font-weight: 600;
    letter-spacing: .3rem;
    line-height: 1.5;
    color: $color-white;
}
.paragraph {
    font-size: 2.1rem;
    color: $color-white;
    letter-spacing: .1rem;
    line-height: 1.5;
}