.u-color-red {
    color: $color-red;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}
.u-margin-bottom-mid {
    margin-bottom: 3rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-border-bottom {
    border-bottom: 6px solid $color-white;
}

.u-text-indent-big {
    text-indent: 6rem;
}