.content {
    position: relative;
    width: 75%;
    margin: 0 auto;
    @include clearfix;

    &-text-left,&-text-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 49%;
    }
    &-text-left {
        float: left;
    }
    &-text-right {
        float: right;
    }
    &-img {
        float: right;
        width: 49%;
    }
    &__poster {
        width: 100%;
        height: 100%;
    }
}